<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>PI DZ4</title>

    <link rel="stylesheet" type="text/css" media="all" href="../static/bootstrap/dist/css/bootstrap.min.css" th:href="@{/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/bootstrap/dist/css/bootstrap-theme.min.css" th:href="@{/bootstrap/dist/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/bootstrap/dist/css/bootstrap-treeview.css" th:href="@{bootstrap/dist/css/bootstrap-treeview.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/bootstrap/dist/css/style.css" th:href="@{bootstrap/dist/css/style.css}" />

    <script src="../static/bootstrap/dist/js/jquery-3.2.1.js" th:src="@{/bootstrap/dist/js/jquery-3.2.1.js}"></script>
    <script src="../static/bootstrap/dist/js/popper.min.js" th:src="@{/bootstrap/dist/js/popper.min.js}"></script>
    <script src="../static/bootstrap/dist/js/bootstrap.min.js" th:src="@{/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script src="../static/bootstrap/dist/js/bootstrap-treeview.js" th:src="@{/bootstrap/dist/js/bootstrap-treeview.js}"></script>

</head>
<body>

<br/>
<h3 th:text="${connectionUrl}"></h3>
<hr/>
<br/>

<div class="row w-100">

    <div class="col-lg-3">
        <table>
            <tbody>
                <tr th:each="cinjenica, stat: ${cinjenice}">
                    <input class="ml-3 " type="radio" th:name="cinjenice" th:value="${cinjenica.nazSQLTablica}"
                           th:id="${cinjenica.sifTablica}" style="margin-left: 20px;" onchange="changeDimMjere($(this))"/>
                    <label class="ml-3" th:for="${cinjenica.sifTablica}" style="margin-left: 20px;" th:text="${cinjenica.nazTablica}"></label>
                    <br/>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-9 bg-white">
        <form method="get" action="#" th:action="@{/sql}" th:object="${query}">
            <div class="row w-100">
                <input type="submit" class="btn btn-success" value="Execute" style="float: left; margin-left: 15px;"/>
                <a href="#" class="btn btn-danger" id="btn-clear" th:text="Clear" value="Clear" style="float: left; margin-left: 15px;"/>
            </div>
            <div class="row w-100">
                <textarea id="sql-query" class="w-100" style="height: 200px; width: 90%; float: left; margin-left: 15px;" placeholder="SQL Query" th:field="*{query}" th:value="${query}"></textarea>
            </div>
        </form>
    </div>
</div>

<br/>

<div class="row w-100">

    <div class="col-lg-3 bg-white">

        <div class="container" style="max-width: 350px">
            <div id="treeview-selectable"></div>
        </div>

    </div>

    <div class="col-lg-9 bg-white">
        <table class="w-100 table table-striped table-bordered" style="width: 95%">
            <thead class="thead-inverse bg-primary">
                <tr>
                    <th align="center" style="text-align: center;">#</th>
                    <th align="center" style="text-align: center;" th:each="col, stat : ${sqlResult.cols.row}" th:text="${col}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="row, stat : ${sqlResult.rows}">
                    <th align="center" style="text-align: center;" scope="row" th:text="${stat.index+1}"></th>
                    <td align="center" style="text-align: center;" th:each="val, colstat : ${row.row}" th:text="${val}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>

    var currentCinjSif = null;
    var currentCinjSQLName = null;

    $('#btn-clear').on('click', function () {
        $.ajax({
            type: "POST",
            url: "/clear",
            cache: false,
            timeout: 600000,
            success: function (data) {
                $('#sql-query').val("");
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        })
    })

    function changeDimMjere(t) {
        t = t[0];

        if (t.checked = true) {
            currentCinjSif = t.id;
            currentCinjSQLName = t.value;
            
            updateDimCinj();
        }
    }

    var myTree = []

    function updateDimCinj() {
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/dimmjere",
            data: currentCinjSif,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                myTree = JSON.stringify(data);

                console.log("SUCCESS : ", data);

                initSelectableTree()

            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    var initSelectableTree = function() {
        return $('#treeview-selectable').treeview({
            data: myTree,
            multiSelect: true,
            onNodeSelected: function(event, node) {
                $('#selectable-output').prepend('<p>' + node.text + ' was selected</p>');
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/selectedNode",
                    data: JSON.stringify(node),
                    dataType: 'json',
                    cache: false,
                    timeout: 600000,
                    success: function (data) {
                        $('#sql-query').val(data.query);
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                    }
                })
            },
            onNodeUnselected: function (event, node) {
                $('#selectable-output').prepend('<p>' + node.text + ' was unselected</p>');
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/unselectedNode",
                    data: JSON.stringify(node),
                    dataType: 'json',
                    cache: false,
                    timeout: 600000,
                    success: function (data) {
                        $('#sql-query').val(data.query);
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                    }
                })
            }
        });
    };
    var $selectableTree = initSelectableTree();

    var findSelectableNodes = function() {
        return $selectableTree.treeview('search', [ $('#input-select-node').val(), { ignoreCase: false, exactMatch: false } ]);
    };
    var selectableNodes = findSelectableNodes();

    $('#chk-select-multi:checkbox').on('change', function () {
        console.log('multi-select change');
        $selectableTree = initSelectableTree();
        selectableNodes = findSelectableNodes();
    });

    // Select/unselect/toggle nodes
    $('#input-select-node').on('keyup', function (e) {
        selectableNodes = findSelectableNodes();
        $('.select-node').prop('disabled', !(selectableNodes.length >= 1));
    });

    $('#btn-select-node.select-node').on('click', function (e) {
        $selectableTree.treeview('selectNode', [ selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
    });

    $('#btn-unselect-node.select-node').on('click', function (e) {
        $selectableTree.treeview('unselectNode', [ selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
    });

    $('#btn-toggle-selected.select-node').on('click', function (e) {
        $selectableTree.treeview('toggleNodeSelected', [ selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
    });

</script>

</body>
</html>